.hero{
    width: 100%;
    max-width: 600px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    margin: 9rem auto 5rem auto;
}
.hero__container{
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem 0 1.5rem;
    

}

.hero__h1{
    font-size: 3rem;
    width: 60%;
    line-height: 130%;
    font-weight: 900;
    letter-spacing: .01em;
}
.hero__textWrap{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.hero__span{
    width: 0.5rem;
    height: 2rem;
    display: inline-block;
    background-color: var(--secondary);
}
.hero__subtitle{
    color: var(--secondary);
    font-weight: bold;
}

.hero__info{
    margin-top: 3rem;
    letter-spacing: .01rem;
}

.hero__info2{
    margin-top: 0.5rem;
    letter-spacing: .01rem;
}

.images{
    margin: 5rem 0 3rem 0;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image1{
    width: 100%;
    height: auto;
}


.main{
    background-color: var(--white);
    padding: 4rem 1.5rem 3rem 1.5rem;
}
.main p{
    color: var(--black);
}
.main h1{
    color: var(--black);
    line-height: 130%;
    font-weight: 900;
    letter-spacing: .01em;
}
.heading{
    width: 75%;
}
.heading h1{
    font-size: 3rem;
    
}

.image__about{
    display: none;
}

.text__wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding-bottom: 6rem;
}

.text__p {
    line-height: 170%;
    font-weight: 400;
    margin: 3rem 0;
}
.link{
    color: var(--black);
}

.aboutImg, .hobby__wrap>img {
    width: 100%;
    height: auto;
}
.hobby{
    margin-bottom: 4rem;
}
.hobby__wrap {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 3rem;
    padding-bottom: 6rem;
 
}
.image__div{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.hobbyTxt{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hobbyImg{
    width: 100%;
    height: auto;
   
}

@media screen and (min-width: 768px) {

    .hero{
        min-width: 90%;
        
        
    }
    .aboutImg{
        width: 70%;
        height: auto;
        margin: 2rem auto;
        
    }

    .heading{
        padding: 0 3.5rem;
        
    }
    .heading h1{
        font-size: 3.2rem;
        width: 60%;
    }

    .hobby__wrap h1{
        width: 65%;
        font-size: 3.2rem;
    }
    
    .hobby__wrap img {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
    .hobbyTxt{
        gap: 3rem;
    }
    .hobbyTxt h1 {
        padding: 0 3.5rem;
    }
    
}

@media screen and (min-width: 840px) {
    .hero{
        height: 899px;
        min-width: 80%;
    }
    .hobbyImg{
        
        
        margin: 2rem auto;
        
    }
}

@media screen and (min-width: 1080px) {
    .hero{
        height: 100vh;
        flex-direction: row;
        margin-top: 4rem;
        
    }
    .container__wrapper{
        width:50%;
        display: flex;
        justify-content: center;

    }
    .hero__container{
        
        padding: 0;
        width: 70%;
        display: flex;
        justify-content: center;

    }
    .hero__h1{
        font-size: 4rem;
        width: 74%;
    }
    .hero__info2{
        width: 96%;
    }
    .images{
        margin: 0;
        width: 50%;
        
       
    }
    .image1{
       
        filter: grayscale(0%);
        opacity: 1;
        transition: all .2s ease-in;
    }
   
    
    .heading{
        padding-top: 4rem;
    }
    .heading h1{
        margin-left: 13.5%;
    }
    
    .text__wrapper{
        width: 80%;
        margin: 0 auto;
        display:grid;
        grid-template-columns: repeat(2, 1fr);  
    }

    

    .about__txt_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
       
    }
    .text__p {
        
        margin: 0;
    }
    .hobby {
        width: 80%;
        margin: 0 auto;
    }
    .hobby__wrap h1{
        width: 100%
        
    }
    .image__div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hobbyImg{
        width: 75%;
        height: auto;
       
        
    }
    .hobbyTxt{
        width: 80%;
        margin: 0 auto;
    }
    .hobbyTxt h1 {
        
    }
    
    .link{
        color: var(--black);
    }

    

}

@media screen and (min-width: 1200px) {}