.form {
  margin: 2rem 0;
}
.formgroup {
  margin-bottom: 25px;
  position: relative;
}

.label {
  display: block;
  font-weight: bold;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}
.input{
  color: var(--white);
  background-color: transparent;
  transition: outline-color 500ms;
  outline: 2px solid var(--white);
}
.textarea{
  color: var(--white);
  height: 10rem;
  background-color: transparent;
  transition: outline-color 500ms;
  outline: 2px solid var(--white);
}


.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #dca123;
}

.input:focus, /* Add a comma here */
.input:valid {
  outline-color: var(--secondary);
}
.textarea:focus, /* Add a comma here */
.textarea:valid {
  outline-color: var(--secondary);
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(20px, 9px); 
  transition: transform 500ms, font-size 500ms; 
  pointer-events: none;
  color: #b1b1b1;
}


.input:focus + .label {
  color: var(--secondary);
}
