.hero{
    width: 100%;
    height: 100dvh;
    background-image: url('../../public/images/background1.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
   

   
}
.hero__container{
    display: flex;
    flex-direction: column;
    margin: 10rem 1.5rem 0 1.5rem;
    


}
.hero__h1{
    font-size: 3.6rem;
    width: 70%;
    line-height: 130%;
    font-weight: 900;
    letter-spacing: .1em;
}
.hero__textWrap{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.hero__span{
    width: 0.5rem;
    height: 2rem;
    display: inline-block;
    background-color: var(--secondary-yellow);
}
.hero__subtitle{
    color: var(--secondary-yellow);
}

.hero__info{
    margin-top: 3rem;
    letter-spacing: .01rem;
}
.project{
    margin-top: 5rem;
    
}
.project__wrapper{
    display: flex;
    flex-direction: column;
}

.container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.container:hover{
    cursor: pointer;
}  

  .pulse {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--secondary-yellow);
    opacity: 0.7;
    position: relative;
    transform: scale(1);
    transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
    animation: waveAnimation 1.5s ease-in-out forwards infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

 .fullScreenSlide{
    background-color: var(--grey);
    height: 100vh;
    width: 99dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
 }
  
  
  @keyframes waveAnimation {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
    }
    100% {
      box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }
  }
  
 
  

  @media screen and (min-width: 768px) {
    .hero{
        height: 790px;
    }
  }
  @media screen and (min-width: 840px) {
    .hero{
        height: 899px;
    }
  }
@media screen and (min-width: 1020px) {

    .hero {
        
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0;
        width: 100%;
        height: 100dvh;
        margin: 0 auto;
    }
    .hero__container{
        margin: 20rem 0;
        padding: 2% 10% 0 0;
    }

    .project{
        margin: 0;
        position: relative;
    }
    .button{
        position: absolute;
        bottom: -90px;
        right: -60px;   
    }
    .button a{
        font-size: 1.6rem;
    }
    .projectImage{
        position: relative;
    }
    
    .viewProject{
        position: absolute;
        display: flex;
        align-items: flex-end;        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        background-color: #1d1d1d96;
    }
    .viewProject p {
        width: 70%;
        margin: 0 auto 5rem auto;
        text-align: center;
    }
}