.hero{
    width: 100%;
    height: 700px;
    background-color: var(--black);
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-bottom: 5rem;


    
}
.hero__container{
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem 0 1.5rem;

}
.hero__h1{
    font-size: 3.2rem;
    width: 80%;
    line-height: 130%;
    font-weight: 900;
    letter-spacing: .1em;
}
.hero__textWrap{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.hero__span{
    width: 0.5rem;
    height: 2rem;
    display: inline-block;
    background-color: var(--primary-orange);
}
.hero__subtitle{
    color: var(--primary-orange);
    font-weight: bold;
}

.hero__info{
    margin-top: 3rem;
    letter-spacing: .01rem;
}
.project{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.projectImage{
    width: 220px;
    height: 220px;

}
.button {
    border: 2px solid var(--primary-orange);
    background-color: transparent;
    text-align: center; 
    display: inline-block; 
    cursor: pointer; 
    width: fit-content;
    height: auto;
    transition: all .3s ease;
    margin: 2.2rem auto 0 auto ;
    

  }
.button a {
    color: var(--white);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 12px 20px;
    background-color:transparent;
    transition: all .3s ease;
    font-size: 1.5rem;
  }
  
  .button:hover{
    border: none;
    background-color: var(--secondary-yellow);
    
  }
  .button:hover a {
    color: var(--black);
  }
    /*MAIN CONTENT*/

    .main{
        background-color: var(--white);
        padding: 9rem 1.5rem ;;
 
      }
    
      .main p{
        color: #000;
        line-height: 180%;
        
      }
      .main h2{
        color: var(--black);
      }
      .briefing, .solution__wrapper{
        display: flex;
        gap: 3rem;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
       
      }
      .briefing__p, .solution__p{
        margin-bottom: 10rem;
      }
      .image__div{
        display: flex;
        flex-direction: column;
        gap: 5rem;
      }
    
      .project__img{
        margin: 0 auto;
        width: auto;
        height: 320px;
      }
    
      .project__imgfull{
        width: auto;
        height: 320px;
        display: flex;
        margin: 5rem auto 8rem auto;
      }

      .solution{
        display: flex;
        flex-direction: column-reverse;
      }

      .solution__wrapper{
        margin-top: 8rem;
      }

      .solution__img{
        margin: 0 auto;
        width: auto;
        height: 640px;
      
      }

      .buttons__div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
      }
      .button__txt{
        color: var(--black);
        font-weight: 700;
        transition: all cubic-bezier(0.23, 1, 0.320, 1) .3s;
      }
      
      .arrow{
        display: none;
      }


  @media screen and (min-width: 768px) {
    .hero{
        height: 820px;
        gap: 5rem;
        width: 90%;
        margin: 0 auto;
    }
    .projectImage{
        width: 320px;
        height: 320px;
    }
   
    .button{
        margin: 2.4rem 0;
    }
    .main {
        padding: 9rem 5%;
    }
  }

 
  



  @media screen and (min-width: 840px) {
    .hero{
        height: 899px;
    }

  }
@media screen and (min-width: 1020px) {

    .hero {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content:space-evenly;
        width: 80%;
        height: 105dvh;
        
        gap: 0;

    }
    .hero__container{
        margin: 20rem 0;
        padding: 2% 0;
        width: 45rem;
        display: flex;
        
    }
    .hero__h1{
        font-size: 4rem;
        width: 50rem;
    }
    .hero__info{
        width: 50rem;
    }

    .project{
        margin: 0;
        
    }
    
    .button a{
        font-size: 1.6rem;
    }

    .projectImage{
        width: 300px;
        height: 300px;
    }
   
    .main{
        padding: 0 11% 5rem 12%;
        flex-direction: row;
    }
    .briefing {
        width: 50%;
        padding-top: 10rem;
        
        gap: 4rem;
        margin: 0 0 8rem 0;
    }
    .title__h2{
        font-size: 3rem;  
    }

    .image__div{
        flex-direction: row;  
        width: 100%; 
        gap: 5%;
        
    }

    .project__img{
        width: 47.5%;
        height: auto;
    }
    .project__imgfull{
        width: 1200px;
        height: auto;
    }
    
    .solution{
        flex-direction: row-reverse;
        margin: 4rem 0 8rem 0;
        
    }
    .solution__wrapper{
        width: 50%;
    
    }
    
    .solution__img{
        width: 45%;
        height: auto;
        margin-right: 5%;
    }

    .link__wrapper {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
    }
    .arrow{
        display: unset;
        transition: all cubic-bezier(0.23, 1, 0.320, 1) .3s;

        
    }
    .link__wrapper:hover .button__txt{
        color: var(--primary-orange);
      }

      
}

@media screen and (min-width: 1200px) {
    .hero {
        justify-content: center;
        width: 65%;
        gap: 10%;
        

    }
    .hero__container{
        width: 45%;
    }

    .project{
        width: 45%;
        
    }
    
    .projectImage{
        width: 100%;
        height: auto;
    }
    
    .main{
        padding: 0 17.5% 5rem 17.5%;
    }

    .imgfull__wrapper{
        margin: 0 auto;
        height: 700px;
    }
    .project__imgfull{
        width: 100%;
        height: 600px;
        right: 0;
        display: flex;
        margin: 5rem auto 8rem auto;
        position: absolute;
        padding: 0;

    }
}